<nav class="navbar navbar-default">
  <div class="container-fluid">

    <div>
      <a class="navbar-brand" [routerLink]="['/']">Book Notes</a>
    </div>
    <ul class="nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/']">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/books']">Books</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/add-book']">Add Book</a>
      </li>
    </ul>

  </div>
</nav>
